* {
  background-color: #3acb86;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container-game {
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  width: 1900px;
}

.title {
  display: flex;
  flex-direction: column;
  color: #2d3340;
  text-align: center;
}

.title h1,
h2 {
  font-size: 70px;
  font-weight: 900;
}

.card {
  margin: 10px;
  width: 100px;
  height: 150px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transform: rotateY(180deg);
}

.cover {
  border-radius: 5px;
  width: inherit;
  height: inherit;
  background-color: white;
  position: relative;
  display: none;
  transform: rotateY(180deg);
}
.cover-container {
  background-color: white;
}
.cover img {
  height: 80px;
  position: absolute;
  top: 35px;
  left: 10px;
}
.cover h5 {
  font-size: 20px;
  color: #2d3340;
}
.cover .up {
  position: absolute;
  z-index: 1;
  top: 5px;
  background: transparent;
  left: 9px;
}
.cover .down {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  background: transparent;
  right: 9px;
  transform: rotate(180deg);
}

.back {
  border-radius: 5px;
  width: inherit;
  height: inherit;
  background: repeating-linear-gradient(
    45deg,
    #cf6160,
    #cf6160 10px,
    #ee7071 10px,
    #ee7071 20px
  );
  padding: 5px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  transform: rotateY(180deg);
}
.back h1 {
  background: transparent;
  font-size: 90px;
  font-weight: bold;
  color: #2d3340;
}
.line {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 3px solid #ffffff87;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
